@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1B2243;
}

@layer base {
  @font-face {
    font-family: 'Avalon';
    src: url('/fonts/Avalon.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}
  